:host{
	form{
		// border: 1px solid red;
		display: inline-block;
		vertical-align: top;
		border-left: 1px solid lightgrey;
		padding-left: 10px;
		width: 540px;
		overflow-y: auto;
		.col-xs-4, .col-xs-8{
			padding: 0px;
			position: relative;
			label, input{
				float: left;

			}
			input{
				padding-right: 18px;
			}
			erase-content{
				/* position: relative; */
				span{
					cursor: pointer;
					position:absolute;
					color: red;
					right: -10px;
					width: 15px;
					height: 15px;
					border-radius: 7.5px;
					color: #fff;
					background: grey;
					top: 30px;
					text-align: center;
					font-size: 13px;
				}	
			}
		}
		.col-xs-4:first-child{
			margin-right: 30px;
		}
		.col-xs-8{
			text-align: left;
			input{
				width: 100%;
				padding-right: 18px;
			}
			
			.switch {
			  position: relative;
			  display: inline-block;
			  width: 60px;
			  height: 34px;
			}

			/* Hide default HTML checkbox */
			.switch input {display:block;}

			/* The slider */
			.slider {
			  position: absolute;
			  cursor: pointer;
			  top: 0;
			  left: 0;
			  right: 0;
			  bottom: 0;
			  background-color: #ccc;
			  -webkit-transition: .4s;
			  transition: .4s;
			}

			.slider:before {
			  position: absolute;
			  content: "";
			  height: 26px;
			  width: 26px;
			  left: 4px;
			  bottom: 4px;
			  background-color: white;
			  -webkit-transition: .4s;
			  transition: .4s;
			}

			input:checked + .slider {
			  background-color: #2196F3;
			}

			input:focus + .slider {
			  box-shadow: 0 0 1px #2196F3;
			}

			input:checked + .slider:before {
			  -webkit-transform: translateX(26px);
			  -ms-transform: translateX(26px);
			  transform: translateX(26px);
			}

			/* Rounded sliders */
			.slider.round {
			  border-radius: 34px;
			}

			.slider.round:before {
			  border-radius: 50%;
			}
		}
	}
}


