:host{
	.form{
		display: inline-block;
		vertical-align: top;
		border-left: 1px solid lightgrey;
		padding-left: 10px;
		width: 540px;
		.dropdown-label{
			width: 100%
		}
		.dropdown-label > *{
			display:block;
		}
		select, label{
			display:block;
		}
	}
}


