:host{
	.help-container{
		display:inline-block;
		.help{
			display: inline-block;
			cursor: pointer;
			background: grey;
			width: 20px;
			height: 20px;
			border-radius: 10px;
			text-align: center;
			color: #fff;
			margin-left: 8px
		}
		.help-tooltip{
		    position: absolute;
		    padding: 3px 5px;
		    word-break: break-all;
		    font-size: 12px;
		    border: 2px solid lightgrey;
		    border-radius: 5px;
		}
		.help-tooltip:before {
			content:"\A";
			border-style: solid;
			border-width: 10px 15px 10px 0;
			border-color: transparent lightgrey transparent transparent;
			position: absolute;
			left: -16px;
			top: 0px;
		}
		.tooltip-show{
			display: inline-block;
			transition: 1s linear;
			margin-left: 12px;
		}
		.tooltip-hide{
			display: none;
			transition: 1s linear;
			margin-left: -20px;
		}
	}
}
