:host{
	.show-ctrls{
		display: block;
		transition: .5s linear;
	}
	.hide-ctrls{
		display: none;
		transition: .5s linear;
	}
	.sessionCtrl{
		position: relative;
		width:100%;
		padding: 15px 0px;
		transition: .5s linear;
		go-back{
			width:33%;
			display:inline-block;
			text-align: center;
			button{
				background: none;
				border: none;
			}
		}
		this-title{
			width:33%;
			display:inline-block;
			text-align: center;
			font-weight: 500;
			font-size: 18px;
		}
		this-save{
			width:33%;
			display:inline-block;
			text-align: center;
			button{
				background: #000;
				color: #fff;
				border: none;
			}
		}
	}
	.home-wrapper-main{
		position: relative;
		transition: .5s linear;
		vertical-align: top;
		// margin-top:40px;
		padding-top:15px;
		height:100%;
		.section-title1{
		  text-align: center;
		  font-weight: 700;
		  font-size: 24px;
		}
		.section-title2{
		  text-align:center;
		  font-size:16px;
		}
		.main-wrapper{
			width: 100%;
			/* list-style-type: none; */
			padding: 0px;
			.options-wrapper{
				position:relative;
				width:35%;
				margin: 0px auto;
				border: 1px solid lightgrey;
				margin-bottom: 10px;
				padding: 10px;
				cursor: pointer;
				list-style-type: none;
				.option-icon{
					position: absolute;
					left: -75px;
					border: 1px solid lightgrey;
					padding: 10px;
					top: 0px;
				}
				.options{
					color: #000;
				}
				.right-caret{
					float:right;
				}
			}
			.options-wrapper:hover {
				background: lightgrey;
			}
		}
	}
	.home-wrapper-submenu{
		transition: .5s linear;
		display:inline-block;
		padding: 0px 0px 0px 20px;
		.section-title1, .section-title2{
			display: none;
		}
		.main-wrapper{
			width: auto;
			display: inline-block;
			.options-wrapper{
				width: auto;
				border: none;
				padding: 0px;
				.option-icon{
					display: none;
				}
				.options{
					color: lightgray;
					transition: .1s linear;
				}
				.active{
					color: #000;
					font-weight: 600;
				}
				.disable{
					color: lightgrey;
					font-weight: normal;
				}
				.right-caret{
					display: none;
				}
				.options:hover{
					transition: .1s linear;
					font-weight: 600;
					color: #000;
				}
			}
			.options-wrapper:hover{
				background: transparent;
			}
		}
	}	
}
