:host{
	.header-wrap{
		width: 100%;
		background: lightgrey;
		padding: 15px 10px;
		position: relative;
		
		.header-logo{
			border: 1px solid black;
			border-radius: 5px;
			padding: 8px 15px;
			cursor: pointer;
			font-weight: 600;
			font-size: 20px;
		}
		.search-bar-wrapper{
			margin-left: 20%;
			input{
				width:40%;
				padding: 5px 3px;
			}
		}
		.user-profile-wrapper{
			position: absolute;
			right:35px;
			select{
				cursor: pointer;
				background: none;
				border: none;
			}
		}
		.hamburguer-wrapper{
			cursor: pointer;
			position: absolute;
			right:10px;		
		}
	}
}
