<header></header>

<session-ctrls></session-ctrls>

<div class="home-wrapper-main foo">
	<p class="section-title1">Let's get Started</p>
	<p class="section-title2"> Complete your profile by filling out the sections below</p>
	<ul class="main-wrapper">
		<li *ngFor="let option of home_options" 
			class="options-wrapper" 
			[routerLink]="[option]"
			(click)="showRouterOutlet($event)"
		>

			<span class="option-icon"> ICON </span>
			<span class="options">{{option}}</span>
			<span class="right-caret"> ></span>
		</li>
	</ul>
</div>

<router-outlet class="router-outlet"></router-outlet>


<footer></footer>