<div class="container-wrapper" *ngIf="languageType">
	<!-- <input formControlName="language" ngControl="language" class="col-xs-4"/> -->
	<input list="languages" name="language" class="col-xs-4" (keyup)="callService($event)"/>
	<datalist id="languages">
		<option *ngFor="let val of langArr" value="{{val}}">
	</datalist>
	<!-- <ul >
		<li *ngFor="let val of langArr">{{val}}</li>
	</ul> -->
	<select class="col-xs-6">
		<option>Choose One</option>
		<option>Native</option>
		<option>Beginners</option>
		<option>Intermediate</option>
		<option>Advanced</option>
	</select>
</div>

<div *ngIf="stateType">
	<!-- <input formControlName="stateLic" ngControl="stateLic" /> -->
	<input />
</div>