<div class="container-wrapper" *ngIf="languageType">
	<!-- <input formControlName="language" ngControl="language" class="col-xs-4"/> -->
	<input
		[list]="divId"
		name="language" 
		class="col-xs-4"
		(keyup)="callService($event)"
		(click)="setProps($event)"
	/>
	<datalist [id]="divId">
		<option *ngFor="let val of langArr" value="{{val}}">{{val}}</option>
	</datalist>
	
	<select class="col-xs-6">
		<option>Choose One</option>
		<option>Native</option>
		<option>Beginners</option>
		<option>Intermediate</option>
		<option>Advanced</option>
	</select>
</div>

<div *ngIf="stateType">
	<!-- <input formControlName="stateLic" ngControl="stateLic" /> -->
	<input />
</div>