<div class="content-wrapper">
	<form [formGroup]="userForm" (submit) = "saveUser" >
		<div class="col-xs-4">
			<label for="name" >Firstname*</label><br>
			<!-- 
				have 'erase-content' be inside of input element
				find out HOW???
			 -->
			<input formControlName="firstname" ngControl="firstname" />
			<erase-content (click)="eraseContent('firstname')"></erase-content>
			<!-- <div [hidden]="firstname.valid">Required</div> -->
		</div>

		<div class="col-xs-4">
			<label for="lastname" >Lastname*</label><br>
			<input formControlName="lastname" ngControl="lastname" />
			<erase-content (click)="eraseContent('lastname')"></erase-content>
			<!-- <div [hidden]="lastname.valid">Required</div> -->
		</div>
		<div class="col-xs-8">
			<label>Professional Title</label><br>
			<input formControlName="title" ngControl="title" />
			<erase-content (click)="eraseContent('title')"></erase-content>
		</div>
		<div class="col-xs-8">
			<label>Location</label><br>
			<input formControlName="location" ngControl="location" />
			<erase-content (click)="eraseContent('location')"></erase-content>
		</div>
		<div class="col-xs-8">
			<label class="switch"  >
				<input type="checkbox" (click)="toggle($event)" checked>
				<div class="slider round"></div>
			</label>
			<label class="switch-text">I am willing to relocate</label>
		</div>

		<div class="col-xs-8">
			<label>Field of Practice</label><br>
			<input formControlName="fldPractice" ngControl="fldPractice" />
		</div>

		<div class="col-xs-8">
			<label class="col-xs-8">Languages</label><br>
			<div *ngFor="let i of repeat" id="language">
				<language ></language>
			</div>
			
			<add-another type="language"></add-another>
		</div>

		<div class="col-xs-8">
			<label>Phone</label><br>
			<input formControlName="phone" ngControl="phone" />
			<erase-content (click)="eraseContent('phone')"></erase-content>
		</div>

		<div class="col-xs-8">
			<label>Email</label><br>
			<input formControlName="email" ngControl="email" />
			<erase-content (click)="eraseContent('email')"></erase-content>
		</div>

		<div class="col-xs-8">
			<label>Individual NPI Number</label><br>
			<input formControlName="npi" ngControl="npi" />
			<erase-content (click)="eraseContent('npi')"></erase-content>
		</div>

		<div class="col-xs-8">
			<label>State License</label><br>
			<input formControlName="stateLic" ngControl="stateLic" />
			<erase-content (click)="eraseContent('stateLic')"></erase-content>
		</div>

		<!-- ADD ANOTHER STATE -->

		<div class="col-xs-8">
			<label>Personal Statement</label><br>
			<textarea rows="10" cols="47" formControlName="statement" ngControl="statement" >
			</textarea>
			
		</div>

		<div class="col-xs-8 submit">
			<button class="saveContinue">Save and Continue ></button>
		</div>
	</form>
</div>