<div class="form-mobile-title">{{thisTitle}}</div>
<div class="content-wrapper"  >
	<form [formGroup]="userForm" (submit) = "saveUser"  >
		<!-- =======================FIRSTNAME========================== -->
		<div class="col-xs-4" >
			<label for="firstname" >Firstname*</label><br>
			<!-- 
				have 'erase-content' be inside of input element
				find out HOW???
			 -->
			<input 
				type="text"
				maxlength="40"
				formControlName="firstname"
			/>
			<erase-content (click)="eraseContent('firstname')"></erase-content>
			<control-messages 
				class="form-error" 
				[control]="userForm.controls.firstname"
			></control-messages>
		</div>

		<!-- =======================LASTNAME========================== -->
		<div class="col-xs-4">
			<label for="lastname" >Lastname*</label><br>
			<input
				type="text"
				maxlength="40" 
				formControlName="lastname"
			/>
			<erase-content (click)="eraseContent('lastname')"></erase-content>
			<control-messages 
				class="form-error" 
				[control]="userForm.controls.lastname"
			></control-messages>
		</div>
		<!-- =======================TITLE========================== -->
		<div class="col-xs-8">
			<label>Professional Title</label><help type="title" ></help><br>
			<input
				type="text"
				maxlength="50"
				formControlName="title" 
				ngControl="title"
			/>
			<erase-content (click)="eraseContent('title')"></erase-content>
			<control-messages 
				class="form-error" 
				[control]="userForm.controls.title"
			></control-messages>
		</div>
		<!-- =======================LOCATION========================== -->
		<div class="col-xs-8">
			<label>Location</label><br>
			<input 
				type="text"
				max-length="50"
				formControlName="location" 
				ngControl="location" 
			/>
			<erase-content (click)="eraseContent('location')"></erase-content>
			<control-messages 
				class="form-error" 
				[control]="userForm.controls.location"
			></control-messages>
		</div>
		<!-- ========================RELOCATION===================== -->
		<div class="col-xs-8">
			<label class="switch"  >
				<input type="checkbox" (click)="toggle($event)" checked>
				<div class="slider round"></div>
			</label>
			<label class="switch-text">I am willing to relocate</label>
		</div>
		<!-- =======================FLD PRACTICE========================== -->
		<div class="col-xs-8">
			<label>Field of Practice</label> <help type="fldPractice" ></help><br>
			<input formControlName="fldPractice" ngControl="fldPractice" />
		</div>
		<!-- =======================LANGUAGES========================== -->
		<div class="col-xs-8" >
			<label class="col-xs-8">Languages</label><br>
			<add-another type="language"></add-another>
		</div>
		<!-- =======================PHONE========================== -->
		<div class="col-xs-8">
			<label>Phone</label><br>
			<input formControlName="phone" ngControl="phone" />
			<erase-content (click)="eraseContent('phone')"></erase-content>
		</div>
		<!-- =======================EMAIL========================== -->
		<div class="col-xs-8">
			<label>Email</label><br>
			<input formControlName="email" ngControl="email" />
			<erase-content (click)="eraseContent('email')"></erase-content>
			<control-messages 
				class="form-error" 
				[control]="userForm.controls.email"
			></control-messages>
		</div>
		<!-- =======================NPI NUMBER========================== -->
		<div class="col-xs-8">
			<label>Individual NPI Number</label><help type="npi" ></help><br>
			<input formControlName="npi" ngControl="npi" />
			<erase-content (click)="eraseContent('npi')"></erase-content>
		</div>
		<!-- =======================STATE LICENSE========================== -->
		<div class="col-xs-8">
			<label>State License</label><br>
			<!-- <input formControlName="stateLic" ngControl="stateLic" /> -->
			<add-another type="stateLic"></add-another>
			<erase-content (click)="eraseContent('stateLic')"></erase-content>
		</div>

		<!-- ADD ANOTHER STATE -->

		<div class="col-xs-8">
			<label>Personal Statement</label><help type="statement" ></help><br>
			<textarea 
				rows="10" 
				cols="58" 
				maxlength="250"
				formControlName="statement" 
				ngControl="statement" 
				(keydown)="UpdateCounter($event)">
			</textarea>
			<word-counter [count]="counter" ></word-counter>
		</div>

		<div class="col-xs-8 submit">
			<button class="saveContinue">Save and Continue ></button>
		</div>
	</form>
	<div class="horizontal-progress-bar">
		<div class="progress-bar">
			50%
		</div>
	</div>
</div>