html{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}

body{
	/*background: lightgrey;*/
	transition: .5s linear;
	min-width: 320px;
}
@media ( max-width:700px){
	body{
		background: lightgrey;
		transition: .5s linear;
	}
}