:host {
  background: red; }

.form {
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid lightgrey;
  padding-left: 10px;
  width: 540px; }

.label-dropdown {
  display: block; }
