:host .show-ctrls {
  display: block;
  transition: .5s linear; }

:host .hide-ctrls {
  display: none;
  transition: .5s linear; }

:host .sessionCtrl {
  position: relative;
  width: 100%;
  padding: 15px 0px;
  transition: .5s linear; }
  :host .sessionCtrl go-back {
    width: 33%;
    display: inline-block;
    text-align: center; }
    :host .sessionCtrl go-back button {
      background: none;
      border: none; }
  :host .sessionCtrl this-title {
    width: 33%;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 18px; }
  :host .sessionCtrl this-save {
    width: 33%;
    display: inline-block;
    text-align: center; }
    :host .sessionCtrl this-save button {
      background: #000;
      color: #fff;
      border: none; }

:host .home-wrapper-main {
  position: relative;
  transition: .5s linear;
  vertical-align: top;
  margin-top: 40px; }
  :host .home-wrapper-main .section-title1 {
    text-align: center;
    font-weight: 700;
    font-size: 24px; }
  :host .home-wrapper-main .section-title2 {
    text-align: center;
    font-size: 16px; }
  :host .home-wrapper-main .main-wrapper {
    width: 100%;
    /* list-style-type: none; */
    padding: 0px; }
    :host .home-wrapper-main .main-wrapper .options-wrapper {
      position: relative;
      width: 35%;
      margin: 0px auto;
      border: 1px solid lightgrey;
      margin-bottom: 10px;
      padding: 10px;
      cursor: pointer;
      list-style-type: none; }
      :host .home-wrapper-main .main-wrapper .options-wrapper .option-icon {
        position: absolute;
        left: -75px;
        border: 1px solid lightgrey;
        padding: 10px;
        top: 0px; }
      :host .home-wrapper-main .main-wrapper .options-wrapper .options {
        color: #000; }
      :host .home-wrapper-main .main-wrapper .options-wrapper .right-caret {
        float: right; }
    :host .home-wrapper-main .main-wrapper .options-wrapper:hover {
      background: lightgrey; }

:host .home-wrapper-submenu {
  transition: .5s linear;
  display: inline-block;
  padding: 0px 0px 0px 20px; }
  :host .home-wrapper-submenu .section-title1, :host .home-wrapper-submenu .section-title2 {
    display: none; }
  :host .home-wrapper-submenu .main-wrapper {
    width: auto;
    display: inline-block; }
    :host .home-wrapper-submenu .main-wrapper .options-wrapper {
      width: auto;
      border: none;
      padding: 0px; }
      :host .home-wrapper-submenu .main-wrapper .options-wrapper .option-icon {
        display: none; }
      :host .home-wrapper-submenu .main-wrapper .options-wrapper .options {
        color: lightgray;
        transition: .1s linear; }
      :host .home-wrapper-submenu .main-wrapper .options-wrapper .active {
        color: #000;
        font-weight: 600; }
      :host .home-wrapper-submenu .main-wrapper .options-wrapper .disable {
        color: lightgrey;
        font-weight: normal; }
      :host .home-wrapper-submenu .main-wrapper .options-wrapper .right-caret {
        display: none; }
      :host .home-wrapper-submenu .main-wrapper .options-wrapper .options:hover {
        transition: .1s linear;
        font-weight: 600;
        color: #000; }
    :host .home-wrapper-submenu .main-wrapper .options-wrapper:hover {
      background: transparent; }
