:host .top-warpper {
  border-bottom: 1px solid lightgrey;
  padding: 10px 0px; }
  :host .top-warpper go-back {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    width: 33%;
    text-align: center;
    cursor: pointer; }
    :host .top-warpper go-back button {
      border: 1px solid #fff;
      background: transparent;
      padding: 5px 15px; }
    :host .top-warpper go-back button:hover {
      border: 1px solid lightgrey; }
  :host .top-warpper this-save {
    width: 33%;
    display: inline-block;
    text-align: center; }
    :host .top-warpper this-save button {
      padding: 5px 15px;
      border: 1px solid lightgrey;
      background: lightgrey; }
    :host .top-warpper this-save button:hover {
      background: #fff; }

:host .body-wrapper {
  padding-top: 10px; }
  :host .body-wrapper sub-menu {
    color: lightgrey;
    display: inline-block; }
    :host .body-wrapper sub-menu .submenu-option {
      padding-bottom: 8px;
      font-size: 15px;
      transition: .1s linear; }
    :host .body-wrapper sub-menu .submenu-option:hover {
      color: #000;
      cursor: pointer;
      font-size: 17px;
      transition: .1s linear; }
