svg {
  transform: rotate(-90deg);
  background: grey;
  border-radius: 50%;
  width: 150;
  height: 150; }

svg::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  animation: spin 3s linear infinite, bg 6s step-end infinite; }

circle {
  fill: #fff;
  stroke-width: 30;
  stroke-dasharray: 0 158;
  animation: fillup 5s linear infinite; }

text {
  transform: rotateZ(90deg); }

@keyframes fillup {
  to {
    stroke-dasharray: 158 158; } }

@keyframes spin {
  to {
    transform: rotate(0.5turn); } }

@keyframes bg {
  50% {
    background: #655; } }
